{% extends 'mailing/base.html' %}

{% block content %}
<div class="card">
    <div class="card-body">
        <form enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">
                {% if object %}
                Сохранить
                {% else %}
                Создать
                {% endif %}
            </button>
            <a class="btn btn-success" href="{% url 'mailing:list_message' %}" role="button">Назад</a>
        </form>
    </div>
</div>
{% endblock %}